@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300');

#console-wrapper {
    display: flex;
    width: 100%;
}

#console {
    width: 100%;
    padding: 12px 16px;
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 16px;
    line-height: 18px;
}

#errors {
    display: flex;
    width: 100%;
}

.error {
    width: 100%;
    border: 1px solid white;
	border-radius: 4px;
	background-color: #DE6F6F;
	color: white;
	padding: 16px;
}

#server-controls {
    display: flex;
    color: black;
    height: 32px;
}

#server-controls ul {
    display: flex;
    list-style-type: none;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    height: 100%;
}

#server-controls li {
    display: inline-flex;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0 12px;
    font-size: 0.8em;
    background-color: white;
    border-right: 1px solid #CCCCCC;
    cursor: pointer;
}

#server-controls li:first-child {
    border-radius: 4px 0 0 4px;
}

#server-controls li:last-child {
    border-radius: 0 4px 4px 0;
    border-right: none;
}

#server-controls li:hover {
    background-color: #E6E6E6;
}